*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx
.DS_Store

# Ignore entire IDE folder
.idea/

# Kotlin internal files
.kotlin/

# Log files
*.log

# Firebase config
google-services.json